parameters:
	ignoreErrors:
		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/config/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\config\\\\Manager\\:\\:get\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/config/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\config\\\\Manager\\:\\:onLoad\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/config/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\config\\\\Manager\\:\\:\\$logger is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/config/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\config\\\\Manager\\:\\:\\$plugin is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/config/Manager.php

		-
			message: "#^Parameter \\#1 \\$permissions of class DiamondStrider1\\\\Ranked\\\\struct\\\\PermissionSet constructor expects array\\<int, string\\>, array\\<int, mixed\\> given\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Database.php

		-
			message: "#^Parameter \\#1 \\$childId of class DiamondStrider1\\\\Ranked\\\\struct\\\\RankInheritance constructor expects int, mixed given\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#1 \\$id of class DiamondStrider1\\\\Ranked\\\\struct\\\\Rank constructor expects int, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#1 \\$uuid of class DiamondStrider1\\\\Ranked\\\\struct\\\\RankedPlayer constructor expects string, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#2 \\$name of class DiamondStrider1\\\\Ranked\\\\struct\\\\Rank constructor expects string, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#2 \\$parentId of class DiamondStrider1\\\\Ranked\\\\struct\\\\RankInheritance constructor expects int, mixed given\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#2 \\$username of class DiamondStrider1\\\\Ranked\\\\struct\\\\RankedPlayer constructor expects string, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#3 \\$displayName of class DiamondStrider1\\\\Ranked\\\\struct\\\\RankedPlayer constructor expects string, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Parameter \\#3 \\$expirationDate of class DiamondStrider1\\\\Ranked\\\\struct\\\\RankInstance constructor expects string\\|null, mixed given\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Db2Struct.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\Manager\\:\\:get\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\Manager\\:\\:onLoad\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\database\\\\Manager\\:\\:\\$configManager is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\database\\\\Manager\\:\\:\\$logger is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\database\\\\Manager\\:\\:\\$plugin is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:inheritanceCreate\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:inheritanceList\\(\\) should return array\\<int, array\\<string, mixed\\>\\> but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:inheritanceRemove\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:initInheritance\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:initPermissions\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:initPlayers\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:initRankInstances\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:initRanks\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:permissionsCreate\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:permissionsList\\(\\) should return array\\<int, array\\<string, mixed\\>\\> but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:permissionsRemove\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:playersCreate\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:playersList\\(\\) should return array\\<int, array\\<string, mixed\\>\\> but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:playersRemove\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:queryPlayersOfRank\\(\\) should return array\\<int, array\\<string, mixed\\>\\> but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:queryRanksOfPlayer\\(\\) should return array\\<int, array\\<string, mixed\\>\\> but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:rankInstancesCleanExpired\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:rankInstancesCreate\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:rankInstancesRemove\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:ranksCreate\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:ranksList\\(\\) should return array\\<int, array\\<string, mixed\\>\\> but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:ranksRemove\\(\\) should return int but returns mixed\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Parameter \\#3 \\$onInserted of method poggit\\\\libasynql\\\\DataConnector\\:\\:executeInsert\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Parameter \\#3 \\$onSelect of method poggit\\\\libasynql\\\\DataConnector\\:\\:executeSelect\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, mixed given\\.$#"
			count: 6
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Parameter \\#3 \\$onSuccess of method poggit\\\\libasynql\\\\DataConnector\\:\\:executeChange\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, mixed given\\.$#"
			count: 14
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Parameter \\#4 \\$onError of method poggit\\\\libasynql\\\\DataConnector\\:\\:executeChange\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, mixed given\\.$#"
			count: 14
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Parameter \\#4 \\$onError of method poggit\\\\libasynql\\\\DataConnector\\:\\:executeInsert\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, mixed given\\.$#"
			count: 2
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Parameter \\#4 \\$onError of method poggit\\\\libasynql\\\\DataConnector\\:\\:executeSelect\\(\\) expects \\(callable\\(\\)\\: mixed\\)\\|null, mixed given\\.$#"
			count: 6
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/language/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\language\\\\Manager\\:\\:get\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/language/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\language\\\\Manager\\:\\:onLoad\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/language/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\language\\\\Manager\\:\\:\\$configManager is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/language/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\language\\\\Manager\\:\\:\\$plugin is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/language/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\manager\\\\IManager\\:\\:get\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/manager/IManager.php

		-
			message: "#^Left side of && is always false\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/ranks/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\ranks\\\\Manager\\:\\:get\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/ranks/Manager.php

		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\ranks\\\\Manager\\:\\:onLoad\\(\\) return type has no value type specified in iterable type Generator\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/ranks/Manager.php

		-
			message: "#^Property DiamondStrider1\\\\Ranked\\\\ranks\\\\Manager\\:\\:\\$plugin is never written, only read\\.$#"
			count: 1
			path: src/DiamondStrider1/Ranked/ranks/Manager.php

