parameters:
	ignoreErrors:
		-
			message: "#^Method DiamondStrider1\\\\Ranked\\\\database\\\\QueryRunner\\:\\:.* return type has no value type specified in iterable type Generator\\.$#"
			path: src/DiamondStrider1/Ranked/database/QueryRunner.php

